IMAGE=ghcr.io/mirivlad/mymine
LANDING_IMAGE=ghcr.io/mirivlad/mymine-landing
IMAGE_TAG=latest

CONTAINER_NAME=mymine
DATA_DIR=/home/mirivlad/mymine-data
MC_PORT=25565
MC_ADDRESS=mc.example.org:25565
MC_VERSION=26.2
MAP_URL=/map/
MAP_PORT=44447
BLUEMAP_ACCEPT_DOWNLOAD=false
BLUEMAP_RENDER_THREADS=1
BLUEMAP_METRICS=false
BLUEMAP_UID=1000
BLUEMAP_GID=1000

AUTH_CONTAINER_NAME=mymine-auth
AUTH_DATA_DIR=/home/mirivlad/mymine-auth-data
AUTH_PORT=25585
AUTH_DOMAIN=auth.example.org
AUTH_BASE_URL=https://auth.example.org
AUTH_INSTANCE_NAME=MyMine
DRASL_ADMIN=admin
DRASL_REQUIRE_INVITE=false
AUTH_MEMORY_LIMIT=384m

LANDING_CONTAINER_NAME=mymine-landing
LANDING_PORT=8080
LANDING_MEMORY_LIMIT=128m
WEB_BIND_ADDR=127.0.0.1
HMCL_VERSION=3.16.3

TZ=Asia/Irkutsk
MEMORY=4G
CONTAINER_MEMORY_LIMIT=6g
SERVER_NAME=MyMine
MOTD=MyMine Fabric 26.2
MODE=survival
DIFFICULTY=normal
MAX_PLAYERS=20
ENABLE_WHITELIST=false
ENFORCE_WHITELIST=false
PVP=true
VIEW_DISTANCE=10
SIMULATION_DISTANCE=8
SPAWN_PROTECTION=0
ENABLE_COMMAND_BLOCK=false
ALLOW_FLIGHT=true
ENABLE_RCON=false
